<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wicker</title>
    <link rel="stylesheet" href="/lib/skeleton/css/skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container" id="app" />
    <script> var USER = <%- user %>; </script>
    <script src="/build.js" charset="utf-8"></script>
  </body>
</html>
